.cart {
    .product-thumbnail {
        .size-woocommerce_thumbnail {
            width: 100px;
            height: auto;
        }
    }

    .cart_item {
        td {
            vertical-align: middle;
        }
    }
}

.tax-total {
    small {
        display: none;
    }
}

.state_select {
    @extend .form-control;
}

.woocommerce-shipping-totals {
    small {
        font-size: 12px;
    }
}

.woocommerce-cart-form {
    .wc_coupon_message_wrap {
        display: none;
    }
}

// mini cart

.woocommerce-mini-cart {
    .woocommerce-mini-cart-item {
        .size-woocommerce_thumbnail {
            width: 50px;
            height: auto;
        }
    }
}
// braintree overrides
.payment_method_braintree_credit_card {
    .form-row {
        margin-left: 0;
        margin-right: 0;
    }

    .wc-braintree-credit-card-new-payment-method-form {
        background-color: #fff;

        .form-row {
            padding: 0 !important;
            margin-bottom: 1rem;

            .wc-braintree-hosted-field {
                @extend .form-control;
                height: calc(1.5em + 0.75rem + 2px) !important;
            }
        }
    }
}
