.woocommerce-checkout {
    .woocommerce-error {
        @extend .alert;
        @extend .alert-danger;
    }

    .mailchimp-newsletter {
        align-items: center;

        label {
            margin-bottom: 0;
            margin-left: 0.5em;
        }
    }

    label[for='billing_country'] {
        display: none;
    }

    #wc-ppcp-credit-card-gateway-cc-form {
        margin-top: 1rem;

        p.form-row {
            display: flex;
            width: 100%;
            flex-direction: column;            
        }

        p.form-row-first, p.form-row-last {
            width: 47%;
            display: inline-flex;
        }

        p.form-row-first {
            margin-right: 1rem;
        }

        label {
            @extend .form-label;
        }

        #ppcp-credit-card-gateway-card-number, #ppcp-credit-card-gateway-card-expiry, #ppcp-credit-card-gateway-card-cvc {
            width: 100% !important;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.25rem;
        }
    }

    .ppcp-dcc-order-button {
        float: none;
        display: block;
        width: 100%;
        background-color: #28a745;
        border-color: #28a745;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
        color: #fff;
        font-weight: 700;
    }
}

.quantity {
    width: 60px;
}

.checkout-cart {
    background: #fafafa;
}

.woocommerce-form-login {
    display: block !important;
}

.wc_coupon_message_wrap {
    display: none;
}

#wc_braintree_paypal_container {
    padding-top: 1em;
}

.payment_method_braintree_credit_card
    .wc-braintree-credit-card-new-payment-method-form {
    background-color: #fafafa;
}

ul.payment_methods li div.sv-wc-payment-gateway-card-icons {
    margin-left: 0 !important;
}

.woocommerce-privacy-policy-text {
    margin-top: 2em;
    font-size: 12px;
}

.woocommerce
    #payment
    div.payment_method_braintree_credit_card
    .wc-braintree-hosted-field-card-number {
    background-size: 35px 24px !important;
}

.woocommerce {
    .sv-wc-external-checkout {
        display: none;
    }
}

button#place_order {
    &:before {
        font-family: 'Line Awesome Free';
        font-weight: 900;
        display: inline-block;
        line-height: 1;
        content: '\f023';
        margin-right: 5px;
    }
}

#billing_country_field,
#shipping_country_field {
    // display: none;
}

#billing_first_name_field,
#shipping_first_name_field,
#billing_email_field {
    width: 47.5%;
    display: inline-block;
    margin-right: 5%;
}

#billing_last_name_field,
#shipping_last_name_field,
#billing_em_ver_field {
    width: 47.5%;
    display: inline-block;
}

#billing_city_field,
#shipping_city_field {
    width: 30%;
    display: inline-block;
}

#billing_state_field,
#shipping_state_field {
    width: 30%;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}

#billing_postcode_field,
#shipping_postcode_field {
    width: 30%;
    display: inline-block;
}

#billing_phone_field {
    display: inline-block;
}

@media (max-width: 575.98px) {
    #billing_email_field,
    #billing_em_ver_field {
        width: 100%;
        display: block;
        margin-right: 0;
    }

    #billing_city_field,
    #shipping_city_field {
        width: 47.5%;
        margin-right: 5%;
    }

    #billing_state_field,
    #shipping_state_field {
        width: 47.5%;
        margin-left: 0;
        margin-right: 0;
    }

    #billing_postcode_field,
    #shipping_postcode_field {
        width: 47.5%;
        margin-right: 5%;
    }

    #billing_phone_field {
        width: 47.5%;
        display: inline-block;
    }
}
