.slide-arrows {
    z-index: 99;
    top: 50%;

    a {
        &:hover {
            cursor: pointer;
        }
    }
}
.home-slider {
    .slide-content {
        height: 370px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;

        @include media-breakpoint-up(xl) {
            height: 470px;
        }

        h2 {
            font-weight: bold;
            color: $white;
        }

        p {
            color: $white;
        }
    }
}

.home-ymm {
    .facetwp-facet-year_make_model {
        display: flex;
        margin-bottom: 0 !important;
        .facetwp-hierarchy_select {
            //height: add(1.5em, add(0.75rem, 2px, false));
            margin-right: 0.5em;
            margin-bottom: 0 !important;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.home-benefits {
    i {
        font-size: 50px;
    }
}

.home-slider {
    opacity: 0;

    &.tns-slider {
        opacity: 1;
    }
}

.home-resource {
    background-size: cover;

    &:hover {
        cursor: pointer;
    }

    .card-body {
        z-index: 99;

        a {
            text-decoration: underline;
        }
    }
}
