.products {
    .size-woocommerce_thumbnail {
        max-width: 100%;
        height: auto;
    }

    .added_to_cart {
        display: none;
    }

    .add_to_cart_button.loading {
        opacity: 0.5;
        &:before {
            margin-right: 5px;
            content: '';
            @extend .spinner-border;
            height: 18px;
            width: 18px;
            border-width: 0.2em;
        }
    }

    .woocommerce-loop-product__title {
        font-size: 1.1rem;
        line-height: 1.2;
    }

    .tinv-wishlist {
        text-align: center;
    }
}

@include media-breakpoint-up(md) {
    .product-price-container {
        border-right: none !important;
    }

    #brand-collapse,
    #category-collapse,
    #stock-collapse {
        display: block;
    }
}

.search-no-results {
    #selected-vehicle {
        //display: none;
    }
}

.woocommerce-pagination {
    display: block;

    ul {
        margin: 1em 0;
        display: flex;
        list-style: none;

        .page-numbers {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: $primary;
            background-color: #fff;
            border: 1px solid #dee2e6;
            margin-right: 0;

            &.current {
                background-color: $primary;
                color: #fff;
            }
        }
    }
}

.metorik-add-cart-email-form h3 {
    margin-bottom: 10px;
}

.metorik-add-cart-email-form .close-button {
    right: 15px;
    top: 5px;
    color: #000;
    font-weight: bold;
}

.metorik-add-cart-email-form .email-input-wrapper.success:after {
    top: 0;
    right: 5px;
}
