.is-loading {
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
}

.facetwp-facet {
    margin-bottom: 1em !important;
}

.facetwp-facet-categories {
    border-radius: $border-radius;
    border: 1px solid #dee2e6;

    .facetwp-link {
        border-bottom: 1px solid #dee2e6;
        padding: 0.5em;
        &.checked {
            background-color: $primary;
            color: #fff;
        }
    }

    .facetwp-depth {
        margin-left: 0;

        .facetwp-depth {
            .facetwp-link {
                padding-left: 1.5em;
            }
        }
    }

    .facetwp-toggle {
        padding: 0.5em;
        color: $primary;
    }
}

.facetwp-facet-pagination {
    display: block;

    .facetwp-pager {
        margin: 1em 0;
        display: flex;

        .facetwp-page {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: $primary;
            background-color: #fff;
            border: 1px solid #dee2e6;
            margin-right: 0;

            &.active {
                background-color: $primary;
                color: #fff;
            }
        }
    }
}

.custom-html-widget {
    .facetwp-facet-year_make_model {
        .facetwp-hierarchy_select {
            height: add(1.5em, add(0.75rem, 2px, false));
        }
    }
}

.searchwp-revised-search-notice {
    display: block;
    width: 100%;
}
